.empty {
  height: 80vh;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);

  &__title {
    font-size: 24px;
    text-align: center;
    position: relative;
    top: 40%;
  }

  &__button {
    font-size: 18px;
    color: #3d99cd;
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #3d99cd;
    padding: 8px 14px;
  }
}
