.detail {
  height: 500px;
  padding: 15px;
  position: relative;

  &__back {
    padding: 10px;
    border: 1px solid rgb(255, 66, 78);
    color: rgb(255, 66, 78);
    border-radius: 3px;
    margin-left: 8px;
  }

  &__container {
    display: flex;
    margin-bottom: 30px;
    padding: 8px;
  }

  &__image {
    width: 40%;

    &-sub {
      display: flex;
      justify-content: space-between;
      // display: grid;
      // grid-template-columns: repeat(3, 1fr);
      // grid-gap: 5px;
    }

    &-item {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 5px;
      cursor: pointer;

      &--big {
        height: 300px;
        width: 100%;
        margin-bottom: 15px;
        border: 1px solid rgba(0, 0, 0, 0.3);
      }
      &--small {
        border: 1px solid rgba(0, 0, 0, 0.3);
        height: 140px;
        width: 140px;
      }
    }
  }

  &__info {
    // border: 1px solid #000;
    width: 60%;
    margin-left: 15px;
    padding: 0 8px;

    &-name {
      margin: 0px 0px 4px;
      color: rgb(36, 36, 36);
      font-size: 24px;
      font-weight: 300;
      line-height: 32px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      margin-bottom: 8px;
    }

    &-releaseTime {
      display: inline-block;
      user-select: none;
      color: #fff;
      font-size: 14px;
      font-weight: 200;
      padding: 12px 25px;
      background: #3c99dc;
    }

    &-recentPrice {
      color: #fff;
      font-size: 26px;
      font-weight: 500;
      line-height: 40px;
    }

    &-description {
      font-family: 'Montserrat', sans-serif !important;

      &-day {
        display: flex;
        align-items: center;
        margin: 12px 0 0px 0;

        & svg {
          color: #3c99dc;
        }

        & p {
          margin: 0 0 0 5px;
          font-weight: bold;
        }
      }
    }

    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 8px;
    }
  }

  &__seller,
  &__bidder {
    display: flex;
    align-items: center;
    font-size: 16px;
    justify-content: space-between;

    margin-top: 10px;
    width: 100%;

    &-name {
      margin-right: 20px;
      padding-right: 15px;
      //   border-right: 1px solid rgba(0, 0, 0, 0.3);
      & > span {
        font-weight: 500;
      }
    }

    &-rate {
      display: flex;
      width: 200px;
      align-items: center;
      justify-content: space-between;
    }

    &-seemore {
      border: 1px solid #000;
      padding: 5px;
    }

    &-react {
      display: flex;
      align-items: center;

      &--like,
      &--dislike {
        font-size: 20px;
        margin-left: 5px;
        margin-top: -3px;
        color: #3c99dc;
      }

      &--dislike {
        margin-top: 0px;
      }
    }
  }

  &__relate {
    padding: 20px 0;
    &-title {
      font-size: 24px;
    }

    & hr {
      display: block;
      height: 1px;
      border: 0;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      margin: 1em 0;
      padding: 0;
    }
  }

  &__wishList {
    // margin-top: 20px;
    border-radius: 3px;
    border: 1px solid rgb(255, 66, 78);
    padding: 8px 12px;
    align-items: center;

    & * {
      color: rgb(255, 66, 78);
    }

    &-btn {
      display: flex;
      align-items: center;
    }

    &-text {
      font-size: 16px;
      margin-left: 5px;
    }

    & svg {
      font-size: 20px;
      margin-top: 2px;
    }
  }

  &__offer {
    display: block;
    align-items: center;
    margin-top: 20px;

    & > label {
      margin-right: 10px;
    }

    &-input {
      font-size: 16px;
      margin-bottom: 5px;
    }

    & hr {
      display: block;
      height: 1px;
      border: 0;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      margin: 1em 0;
      padding: 0;
    }

    &-btn {
      margin-top: 15px;
      border-radius: 3px;
      display: block;
      font-size: 16px;
      margin-right: auto;
      padding: 10px 16px;
      border: 1px solid #3c99dc;
      color: #3c99dc;
      margin-top: auto;
    }
  }

  &__description {
    padding: 20px 0;
    line-height: 1.4;

    &-title {
      font-size: 24px;
    }

    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    & hr {
      display: block;
      height: 1px;
      border: 0;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      margin: 5px 0 15px 0;
      padding: 0;
    }

    &-btn {
      font-size: 16px;
      padding: 8px 12px;
      border: 1px solid #3c99dc;
      color: #3c99dc;
      margin-bottom: 10px;
    }

    &-add {
      border: 1px solid rgba(0, 0, 0, 0.3);
      margin: 15px 0;
      padding: 20px;

      & p {
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 15px;
      }
    }

    &-action {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      &--submit {
        padding: 8px 14px;
        color: #fff;
        background-color: #3c99dc;
        border: 1px solid #3c99dc;
      }

      &--cancel {
        margin-left: 10px;
        padding: 8px 14px;
        color: rgb(255, 66, 78);
        background-color: #fff;
        border: 1px solid rgb(255, 66, 78);
      }
    }
  }

  &__history {
    padding: 20px 0;

    &-title {
      font-size: 24px;
    }

    & hr {
      display: block;
      height: 1px;
      border: 0;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      margin: 1em 0;
      padding: 0;
    }

    &-header {
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;

      background-color: #3c99dc;
    }

    &-table {
      width: 100%;
    }

    &-content {
      border: 1px solid #3c99dc;
      max-height: 250px;
      overflow-y: auto;

      & .detail__history-tr {
        &:nth-child(even) {
          background-color: #ccc;
        }
      }
    }

    &-tr {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      width: 100%;

      & td {
        padding: 15px;
        font-weight: 300;
        font-size: 14px;
        color: #000;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      & th {
        padding: 20px 15px;
        font-size: 12px;
        text-transform: uppercase;
        color: #fff;
        font-weight: 400;
      }
    }
  }
}
